doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Scene
    link(rel='stylesheet', href='scene.css')
  body(ng-app='scene')
    googlemap#map-canvas(ng-controller='MapCtrl')
    #info-overlay(ng-controller='FlowCtrl')
      //#slider
      .point(
          ng-class='{active: selected == $index}',
          ng-click='displayPoint($index);',
          ng-repeat='point in story'
        ) {{point.name}} 
      #description(ng-show='selected !== -1')
        | {{story[selected].name}} 
        br
        | {{story[selected].datetime}}
        br
        | {{story[selected].description}} 
      #title
        | {{title}}
      img#back(
          ng-show='selected > 0'
          ng-src='img/glyphicons_224_chevron-left.png',
          ng-click='back()'
      )
      img#next(
          ng-show='selected < (story.length - 1)'
          ng-src='img/glyphicons_223_chevron-right.png',
          ng-click='next()'
      )

    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA6JBkMIUrJt45TPCMbdgkITL3JTCbywks&sensor=false')
    script(src='http://code.jquery.com/jquery-1.10.1.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js')
    script(src='scene.js')
